<html ng-app="listaFuncionario">
	<head>		
		<title>Lista Funcionario</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-locale_pt-br.js"></script>
		<script src="lib/angular/angular-messages.js"></script>
		<script src="js/app.js"></script>		
		<script src="js/controllers/listaFuncionarioCtrl.js"></script>
		<script src="js/services/funcionariosAPIService.js"></script>
		<script src="js/filters/nameFilter.js"></script>
		<script src="js/filters/ellipsisFilter.js"></script>
		<script src="js/services/serialGeneratorService.js"></script>
		<script src="js/config/serialGeneratorConfig.js"></script>
		<script src="js/value/configValue.js"></script>		
		<script src="js/directives/uiAlertDirective.js"></script>
		<script src="js/directives/uiDateDirective.js"></script>
	</head>
	
	<body ng-controller="listaFuncionarioCtrl">
		<div class="jumbotron">
			<h3>{{app}}</h3>
			{{message}}
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="buscar por nome funcionario?"/>
			<table ng-show="funcionarios.length > 0" class="table table-striped">
				<tr>	
					<th></th>
					<th><a href="" ng-click="ordenarPor('id')">Codigo</a></th>	
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>					
					<th>Salario</th>
					<th>Data Nascimento</th>					
					<th>Data Cadastro</th>
					<th>Data Alteração</th>
				</tr>
				<tr ng-class="{'selecionado negrito': funcionario.selecionado}" ng-repeat="funcionario in funcionarios  | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td><input type="checkbox" ng-model="funcionario.selecionado"/></td>					
					<td>{{funcionario.id}}</td>
					<td>{{funcionario.nome | name | ellipsis:20}}</td>
					<td>{{funcionario.salario | currency}}</td>
					<td>{{funcionario.dataNascimento | date:'dd/MM/yyyy'}}</td>
					<td>{{funcionario.dtCriacao | date:'dd/MM/yyyy HH:mm'}}</td>
					<td>{{funcionario.dtAlteracao | date:'dd/MM/yyyy HH:mm'}}</td>
				</tr>
			</table>
			<hr/>
			
			<form name="funcionarioForm">
				<input class="form-control" type="text" ng-model="funcionario.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
				<input class="form-control" type="text" ng-model="funcionario.salario" name="salario" placeholder="Salario" ng-required="true"/>
				<input class="form-control" type="text" ng-model="funcionario.dataNascimento" name="dataNascimento" placeholder="dd/mm/aaaa" ng-required="true" ui-date/>
			</form>
			
			<div ng-show="funcionarioForm.nome.$dirty" ng-messages="funcionarioForm.nome.$error">
				<div ng-message="required" class="alert alert-danger">
					Por favor, preencha o campo nome!
				</div>
				<div ng-message="minlength" class="alert alert-danger">
					O campo nome deve ter no mínimo 10 caracteres.
				</div>
			</div>
						
			<button class="btn btn-primary btn-block" ng-click="adicionarFuncionario(funcionario)" ng-disabled="funcionarioForm.$invalid">Adicionar Funcionario</button>
			<button class="btn btn-danger btn-block" ng-click="apagarFuncionarios(funcionarios)" ng-if="isFuncionarioSelecionado(funcionarios)">Apagar Funcionario</button>
		</div>
		<div ng-include="'view/footer.html'"></div>
	</body>
</html>